@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #CED4DB;
}

.search-area{
  width: 100%;
  height: 12vh;
  background-color: #ffe2c7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.search-button{
  width: 8%;
  height: 33%;
  background-color: #1b1a1cd1;
  border-radius: 1rem;
  font-weight: 600;
  color: white;
}

.search-bar{
  border: solid black .15rem;
  width: 45%;
  height: 45%;
  border-radius: 1rem;
}

.products {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.products > div{
  width: 22%;
  height: 29vh;
  border: solid .15rem black;
  border-radius: 1rem;
}

.product{
  flex-direction: column;
}

.product > div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffe2c7;
}

.product-header{
  height: 13%;
  width: 100%;
  padding: .4rem;
}

.product-img{
  height: 70%;
  width: 100%;
}

.product-footer{
  height: 17%;
  width: 100%;
  padding: .5rem;
}